@{
    ViewData["Title"] = "Sneak Movements - Home";
}
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
</head>
<div class="text-center">
    <section class="header">
        <a href="story.html">
            <h1 class="title">Sneaky Movements</h1>
        </a>
        <nav>
            <ul class="nav-bar">
                <li><a href="home.html">Home</a></li>
                <li><a href="vault.html">Vault</a></li>
                <li><a href="story.html">Our Story</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </section>
    <section class="logo">
        <a href="vault.html"><img class="enterTheVault" src="img/enterTheVault.png"></a>
    </section>
</div>