@{
    ViewData["Title"] = "Sneak Movements - Home";
}
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
</head>
<div class="text-center">
    <section class="header">
        <a asp-controller="Home" asp-action="Story">
            <h1 class="title">Sneaky Movements</h1>
        </a>
    </section>
    <section class="logo">
        <a  asp-controller="Home" asp-action="Vault"><img class="enterTheVault" src="img/enterTheVault.png"></a>
    </section>
</div>