@{
    ViewData["Title"] = "Sneak Movements - Home";
}

@model List<SneakyMovements.Models.Product>

<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            padding-top: 50px;
            width: 1000px;
            margin: auto;
        }
        
        .card {
            width: 200px;
            height: 300px;
        }
        
        .card a {
            text-decoration: none;
        }
        
        .card img {
            height: 200px;
        }
        
        .card h1 {
            font-size: 15px;
            color: black;
            text-align: center;
            padding-top: 10px;
        }
    </style>
</head>
<body>
<div>
    <div class="container">
        @foreach (var product in Model)
        {
            <div class="card">
                <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@product.Id" >
                    <img src="~/img/@product.ImageName" alt="Shoes" style="width:100%">
                    <h1>@product.Name</h1>
                </a>
            </div>
        }
    </div>
    <div class="logo">
        <a asp-controller="Home" asp-action="Vault"><img class="enterTheVault" src="img/enterTheVault.png"></a>
    </div>
</div>

</body>
