@model SneakyMovements.ViewModels.ProductDetailVm

<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <img src="~/img/@Model.ImageName" alt="SHOES"/>
            <p>@Model.Name</p>
            <p>@Model.Description</p>
            <p>@Model.Price</p>
        </div>
    </body>
</html>