* {
    margin:0;
    padding:0;
    background-color: #FF5400;
}

@font-face {
    font-family: SuperCandy;
    src: url('../fonts/Super_Candy.ttf')
}

@font-face {
    font-family: Telegraf-UltraBold;
    src: url('../fonts/PPTelegraf-UltraBold.otf');
}

@font-face {
    font-family: Telegraf-Regular;
    src: url('../fonts/PPTelegraf-Regular.otf');
}

@font-face {
    font-family: Telegraf-UltraLight;
    src: url('../fonts/PPTelegraf-UltraLight.otf');
}

/* UNIVERSAL: Top Title */
.header {
    padding: 20px;
}

.header a {
    text-decoration: none;
}

.header .title {
    font-family: Telegraf-UltraBold;
    font-size: 120px;
    color: orange;
    text-align: center;
    padding: 10px 0px 0px;
}

/* UNIVERSAL: Navbar */
.header .nav-bar {
    list-style-type: none;
    padding: 30px;
    text-align: center;
}

.header .nav-bar li {
    display: inline;
    padding: 20px 20px;

}

.header .nav-bar li a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'SuperCandy';

    color: #BC412B;
    /*color: black;*/
}

.header .nav-bar li a:hover{
    color: #E1CE7A;
    opacity: 80;
}

.header .title a{
    text-decoration: none;
    color: black;
}

/* UNIVERSAL: Header*/
#header {
    font-size: 90px;
    font-family: 'Telegraf-Regular';
    text-align: center;
    color: #FDD692;
}

/* HOME: Enter The Vault logo */
.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.logo .enterTheVault{
    width: 500px;
    height: 500px;
    display: block;
    
    animation: rotation 10s infinite linear;
}

/* VAULT: Product Card */

/* OUR STORY: About */
.about p {
    font-family: Telegraf-UltraLight;
    font-size: 24px;
    padding: 20px 500px;
    color: #3C1518;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}